@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #171717;
  color-scheme: light;
}

body {
  color: var(--foreground);
  background: #f3f4f6;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .safe-bottom {
    padding-bottom: env(safe-area-inset-bottom, 0px);
  }
}
